header>h1 {
    text-shadow: 5px 3px hotpink;
    color: darkblue;
    font-family: Helvetica;
    background-color: rgba(200, 200, 200, 1);
    font-size: 48px;
    text-align: center;
}

h1 {
    font-family: Arial;
    font-size: 2em;
}

p.first {
    text-indent: 30px;
    color: rgba(255, 0, 0, 0.5);
    text-align: justify;
}

h2,
h3 {
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(128, 128, 128, 0.5);
}

p#highlightme {
    background-color: hsl(45, 100%, 50%, 0.5);
    line-height: 30px;
    width: 50%;
}

footer>p {
    background-color: hsl(330, 100%, 71%);
    font-family: sans-serif;
    text-align: center;
    text-transform: uppercase;
}